.row
  .span6
    %h2 About me
    %table{ :class => "table table-bordered" }
      %tbody
        %tr
          %th Username
          %td= @user.username.titleize
        %tr
          %th Email address
          %td= @user.email.downcase
        %tr
          %th Created at
          %td= "#{time_ago_in_words(@user.updated_at)} ago."
      %tfoot
        %tr
          %td
          %td.well= link_to "Edit profile", "/settings", :class => "btn btn-success"
