.row{ :id => "sign-up-form-container" }
  .span6
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
      :html => { :autocomplete => :off, :class => "form-horizontal" }) do |f|
      %fieldset
        %legend= "Sign up".html_safe
        
        = f.input :email,                 :required => true, :placeholder => "john.smith@example.com", :autofocus => true
        = f.input :username,              :required => true, :placeholder => "John Smith"
        = f.input :password,              :required => true
        = f.input :password_confirmation, :required => true
        
        .form_actions
          .row= f.button :submit, "Sign up", :class => "btn btn-primary"
-# = render "links"
