.row-fluid{ :id => "sign-in-form-container" }
  .span6
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),
      :html => { :autocomplete => :off, :class => "form-horizontal" }) do |f|
      %fieldset
        %legend Sign in
        
        = f.input :email,    :required => true, :placeholder => "john.smith@example.com", :autofocus => true
        = f.input :password, :required => true
        
        .form-actions
          .row= f.button :submit, "Sign in"
  = render "links"
